

<form class="user" method="post" action="/Books/Create">
    <div class="form-group">
        <input type="text" class="form-control form-control-user"
               id="title" name="title"
               placeholder="Kitabin Basligini Giriniz...">
    </div>
    <div class="form-group">
        <input type="text" class="form-control form-control-user"
               id="author" name="author"
               placeholder="Yazarin Adini Giriniz...">
    </div>
    <div class="form-group">
        <input type="number" class="form-control form-control-user"
               id="stock" name="stock"
               placeholder="Stogu Giriniz...">
    </div>
    <div class="form-group">
        <input type="number" class="form-control form-control-user"
               id="kategoriId" name="kategoriId"
               placeholder="Kategori Id Giriniz...">
    </div>

    <div class="form-group">
        <select class="custom-select" id="ustKategori">
           <option value=""> Ust Kategori Seciniz.</option>
       </select>
    </div>

    <div class="form-group">
        <select class="custom-select" id="altKategori" name="category">
            <option value=""> Alt Kategori Seciniz.</option>
        </select>
    </div>

    <hr>
    <button type="submit" class="btn btn-primary btn-user btn-block">
        KAYDET
    </button>

</form>

<script src="~/template/vendor/jquery/jquery.min.js" ></script>
<script>
    $(document).ready(function () {

        //ust kategorileri getiren fonksiyon
        $.ajax({
            url: '/Categories/GetUstKategori',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                var ustKategoriDropdown = $('#ustKategori');
                ustKategoriDropdown.empty();
                ustKategoriDropdown.append('<option selected value="0">Ust Kategori Seciniz.</option>');
                $.each(data.data, function (index, category) {
                    ustKategoriDropdown.append($('<option value="' + category.Id + '">' + category.name + '</option>'));
                });
            },
            error: function (xhr, status, error) {
                console.log('Kategoriler yüklenirken bir hata oluştu: ' + error);
            }
        });

        //ust kategoriye gore alt kategori getiren fonksiyon

        $('#city').change(function () {
            var cityId = $(this).val();
            console.log(cityId);
            if (cityId != "0") {
                $.ajax({
                    url: '/Order/GetTownByCityId?cityId=' + cityId,
                    type: 'GET',
                    dataType: 'json',
                    success: function (data) {
                        console.log(data);
                        var townDropdown = $('#town');
                        townDropdown.empty();
                        townDropdown.append('<option selected value="0">İlçe Seçiniz.</option>');
                        $.each(data.data, function (index, town) {
                            townDropdown.append($('<option></option>').attr('value', town.townId).text(town.townname));
                        });
                    },
                    error: function (xhr, status, error) {
                        console.log('İlçeler yüklenirken bir hata oluştu: ' + error);
                    }
                });
            } else {
                $('#town').empty();
                $('#town').append('<option selected value="0">İlçe Seçiniz.</option>');
            }
        });

    });
</script>