

<form class="user" method="post" action="/Books/Create">
    <div class="form-group">
        <input type="text" class="form-control form-control-user"
               id="title" name="title"
               placeholder="Kitabin Basligini Giriniz...">
    </div>
    <div class="form-group">
        <input type="text" class="form-control form-control-user"
               id="author" name="author"
               placeholder="Yazarin Adini Giriniz...">
    </div>
    <div class="form-group">
        <input type="number" class="form-control form-control-user"
               id="stock" name="stock"
               placeholder="Stogu Giriniz...">
    </div>
    <div class="form-group">
        <input type="number" class="form-control form-control-user"
               id="kategoriId" name="kategoriId"
               placeholder="Kategori Id Giriniz...">
    </div>

    <hr>
    <button type="submit" class="btn btn-primary btn-user btn-block">
        KAYDET
    </button>

</form>