
@model Book

<form class="user" method="post" action="/Books/Update">
    <input type="hidden" name="id" value="@Model.Id" />
    <div class="form-group">
        <input type="text" class="form-control form-control-user"
               id="title" name="title"
               placeholder="Kitabin Basligini Giriniz..." value="@Model.Title">
    </div>
    <div class="form-group">
        <input type="text" class="form-control form-control-user"
               id="author" name="author"
               placeholder="Yazarin Adini Giriniz..." value="@Model.Author">
    </div>
    <div class="form-group">
        <input type="number" class="form-control form-control-user"
               id="stock" name="stock"
               placeholder="Stogu Giriniz..." value="@Model.Stock">
    </div>
    @*     <div class="form-group">
    <input type="number" class="form-control form-control-user"
    id="kategoriId" name="kategoriId"
    placeholder="Kategori Id Giriniz...">
    </div> *@

    <div class="form-group">
        <select class="custom-select" id="ustKategori">
            <option value=""> Ust Kategori Seciniz.</option>
        </select>
    </div>

    <div class="form-group">
        <select class="custom-select" id="altKategori" name="kategoriId">
            <option value=""> Alt Kategori Seciniz.</option>
        </select>
    </div>

    <hr>
    <button type="submit" class="btn btn-primary btn-user btn-block">
        KAYDET
    </button>

</form>

<script src="~/template/vendor/jquery/jquery.min.js"></script>
<script>
    $(document).ready(function () {

        //ust kategorileri getiren fonksiyon
        $.ajax({
            url: '/Categories/GetUstKategori',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                var ustKategoriDropdown = $('#ustKategori');
                ustKategoriDropdown.empty();
                ustKategoriDropdown.append('<option selected value="0">Ust Kategori Seciniz.</option>');
                $.each(data.data, function (index, category) {
                    ustKategoriDropdown.append($('<option value="' + category.id + '">' + category.name + '</option>'));
                });
            },
            error: function (xhr, status, error) {
                console.log('Kategoriler yüklenirken bir hata oluştu: ' + error);
            }
        });

        //ust kategoriye gore alt kategori getiren fonksiyon

        $('#ustKategori').change(function () {
            var ustKategoriId = document.getElementById("ustKategori"); // Select elementini al
            var ustvalue = ustKategoriId.value; // Seçili değeri al
            console.log(ustvalue);
            if (ustvalue != "0") {
                $.ajax({
                    url: '/Categories/GetAltKategori?categoryId=' + ustvalue,
                    type: 'GET',
                    dataType: 'json',
                    success: function (data) {
                        var altKategoriDropdown = $('#altKategori');
                        altKategoriDropdown.empty();
                        altKategoriDropdown.append('<option selected value="0">Alt Kategori Seçiniz.</option>');
                        $.each(data.data, function (index, altkategori) {
                            altKategoriDropdown.append($('<option></option>').attr('value', altkategori.id).text(altkategori.name));
                        });
                    },
                    error: function (xhr, status, error) {
                        console.log('Altkategori yüklenirken bir hata oluştu: ' + error);
                    }
                });
            } else {
                $('#altKategori').empty();
                $('#altKategori').append('<option selected value="0">Alt Kategori Seçiniz.</option>');
            }
        });

    });
</script>